.produit{
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: white;
    
    width: 16%;
}
.produit > button{
    margin: 10px;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: rgb(38, 181, 38);
    color: white;
}
.produit > img{
    width: 85%;
}