.bar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(83, 83, 83);
    list-style-type: none;
    padding: 17px ;
}
.link{
    border: 0.5px solid rgb(153, 148, 148);
    text-decoration: none;
}
.panier-link {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.panier-link:hover {
    background-color: #e0e0e0;
}